bin/
bin/*
bin/**

target/
target/*
target/**

.directory
*.jar
*.class
*.psd
*.vwc
*.lck
*.log
ant.xml

/target/

*.donotpush
src/main/java/uk/ac/rhul/cs/dice/vacuumworld/test/**
org.sonarlint.eclipse.core.prefs
